# Application Settings
DEBUG=True

# MongoDB Settings
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/
MONGO_DB=xai_rag

# Embedding Model
EMBEDDING_MODEL=allenai/scibert_scivocab_uncased

# FAISS Settings
FAISS_INDEX_PATH=./data/faiss_index.bin

# Retrieval Settings
TOP_K=5

# OpenAlex API Settings
# No API key required for OpenAlex